
#container {
 display:flex;
 position: relative;
 justify-content: center;
 margin: auto;
}

.cell {
 border: 1px solid black;
}

#clear,
#grid-size {
 position:relative;
 left: 800px;
 padding:10px 20px;
 margin: 20px;
}

#title {
 text-align: center;
}